{% extends 'base.html' %}
{% load static %}


<body>
{% block menu %}
		<div class="slider padding__site style=" style="background-image: url(/static/img/slider-img.png)">
			<div class="header">
			<a class="logo wow bounceInDown" data-wow-delay="0.2s" href="{% url 'main' %}"><img src="{% static 'img/logo.svg' %}" alt="logo"> </a>
				{% include 'includes/inc_menu.html' %}
			<a href="{% url 'main' %}" class="menu__mini"><i class="fas fa-bars"></i></a>
			</div>
{% endblock %}
{% block content %}
			<div class="backpic">
			<div class="slider__content wow bounceInLeft" data-wow-delay="0.9s">
				<div class="slider__trading">TRENDING</div>
				<h2 class="slider__h2">Fishnet Chair</h2>
				<p class="slider__p">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black</p>
				<a href="{% url 'main' %}" class="button">Order Us</a>
			</div>
			<div class="slider__pagination">
				<a href="{% url 'main' %}" class="circle wow zoomOutUp" data-wow-delay="0.9s"></a>
				<a href="{% url 'main' %}" class="circle_active wow zoomOutUp" data-wow-delay="0.9s"></a>
				<a href="{% url 'main' %}" class="circle wow zoomOutUp" data-wow-delay="0.9s"></a>
			</div>
		</div>
			</div>
<div class="featured padding__site">
			<ul class="menu__featured">
				<li><a href="{% url 'main' %}" class="link__featured__active">Featured</a></li>
				<li><a href="{% url 'main' %}" class="link__featured__new">New</a></li>
			</ul>
			<a href="{% url 'main' %}" class="link__featured__explore">explore all&gt;</a>
		</div>
		    <div class="product-box padding__site">
            <div class="product wow bounce" data-wow-delay="0.0s" style="background-image: url({% static 'img/product-2.png)' %}">
                <div class="product__content">
                    <a href="{% url 'main' %}" class="button button_product">&gt;</a>
                    <h3 class="product__h3">Fishnet Chair</h3>
                    <p class="product__text">Seat and back with upholstery made of cold cure foam</p>
                </div>
            </div>
            <div class="product wow bounce" data-wow-delay="0.3s" style="background-image: url({% static 'img/product-2.png)' %}">
                <div class="product__content">
                    <a href="{% url 'main' %}" class="button button_product">&gt;</a>
                    <h3 class="product__h3">Fishnet Chair</h3>
                    <p class="product__text">Seat and back with upholstery made of cold cure foam</p>
                </div>
            </div>
            <div class="product wow bounce" data-wow-delay="0.6s" style="background-image: url({% static 'img/product-3.png)' %}">
                <div class="product__content">
                    <a href="{% url 'main' %}" class="button button_product">&gt;</a>
                    <h3 class="product__h3">Fishnet Chair</h3>
                    <p class="product__text">Seat and back with upholstery made of cold cure foam</p>
                </div>
            </div>
            <div class="product wow bounce" data-wow-delay="0.9s" style="background-image: url({% static 'img/product-4.png)' %}">
                <div class="product__content">
                    <a href="{% url 'main' %}" class="button button_product">&gt;</a>
                    <h3 class="product__h3">Fishnet Chair</h3>
                    <p class="product__text">Seat and back with upholstery made of cold cure foam</p>
                </div>
            </div>
        </div>
       	<div class="mini__featured">
			<ul class="mini__menu__featured">
				<li><a href="{% url 'main' %}" class="mini__link__featured__active">Featured</a></li>
				<li class="mini__link__featured__new__li"><a href="{% url 'main' %}" class="mini__link__featured__new">New</a></li>
				<li class="mini__link__featured__explore__li"><a href="{% url 'main' %}" class="mini__link__featured__explore">explore all&gt;</a></li>
			</ul>

		</div>
		    <div class="mini__product-box padding__site">
            <div class="mini__product" style="background-image: url({% static 'img/product-2.png' %})">
                <div class="mini__product__content">
                    <a href="{% url 'main' %}" class="mini__button button_product">&gt;</a>
                    <h3 class="mini__product__h3">Fishnet Chair</h3>
                    <p class="mini__product__text">Seat and back with upholstery made of cold cure foam</p>
                </div>
            </div>
            <div class="mini__product" style="background-image: url({% static 'img/product-2.png' %})">
                <div class="mini__product__content">
                    <a href="{% url 'main' %}" class="mini__button button_product">&gt;</a>
                    <h3 class="mini__product__h3">Fishnet Chair</h3>
                    <p class="mini__product__text">Seat and back with upholstery made of cold cure foam</p>
                </div>
            </div>
            <div class="mini__product" style="background-image: url({% static 'img/product-3.png' %})}">
                <div class="mini__product__content">
                    <a href="{% url 'main' %}" class="mini__button button_product">&gt;</a>
                    <h3 class="mini__product__h3">Fishnet Chair</h3>
                    <p class="mini__product__text">Seat and back with upholstery made of cold cure foam</p>
                </div>
            </div>
            <div class="mini__product" style="background-image: url({% static 'img/product-4.png' %})">
                <div class="mini__product__content">
                    <a href="{% url 'main' %}" class="mini__button button_product">&gt;</a>
                    <h3 class="mini__product__h3">Fishnet Chair</h3>
                    <p class="mini__product__text">Seat and back with upholstery made of cold cure foam</p>
                </div>
            </div>
        </div>
        <div class="exclusive">
			<div class="block__ex__one wow bounceInLeft" data-wow-delay="0.2s" style="background-image: url({% static 'img/promo-img1.png' %})">
				<div class="block__ex">exclusive</div>
				<h2 class="block__ex__h2">Fishnet Chair</h2>
				<p class="block__ex__p">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt</p>
				<a href="{% url 'main' %}" class="button__ex">Order Us</a>
			</div>
			<div class="block__ex__one wow bounceInRight" data-wow-delay="0.9s" style="background-image: url({% static 'img/promo-img.png' %})">
				<div class="block__ex">exclusive</div>
				<h2 class="block__ex__h2">Fishnet Chair</h2>
				<p class="block__ex__p">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt</p>
				<a href="{% url 'main' %}" class="button__ex">Order Us</a>
			</div>
		</div>
        <div class="trending padding__site">
			<a href="{% url 'main' %}" class="link__trending">Trending Products</a>
			<a href="{% url 'main' %}" class="link__trending__explore">explore all&gt;</a>
		</div>
		<div class="trending__products padding__site">
			<div class="tr__pr__one">
				<a href="{% url 'main' %}"><img class="tr__pr__pic wow shake" data-wow-delay="0.1s" src="{% static 'img/product-11.png' %}" alt="tovar"></a>
				<a href="{% url 'main' %}"><img class="tr__pr__pic wow shake" data-wow-delay="0.3s" src="{% static 'img/product-21.png' %}" alt="tovar"></a>
				<a href="{% url 'main' %}"><img class="tr__pr__pic wow shake" data-wow-delay="0.6s" src="{% static 'img/product-31.png' %}" alt="tovar"></a>
			</div>
			<div class="tr__pr__two">
				<a href="{% url 'main' %}"><img class="tr__pr__pic wow shake" data-wow-delay="0.6s" src="{% static 'img/product-41.png' %}" alt="tovar"></a>
				<a href="{% url 'main' %}"><img class="tr__pr__pic wow shake" data-wow-delay="0.3s" src="{% static 'img/product-5.png' %}" alt="tovar"></a>
				<a href="{% url 'main' %}"><img class="tr__pr__pic wow shake" data-wow-delay="0.1s" src="{% static 'img/product-6.png' %}" alt="tovar"></a>
			</div>
		</div>
		<div class="slider__hot__padding">
		<div class="slider__hot padding__site">
			<div class="slider__hot__content wow bounceInLeft" data-wow-delay="0.2s">
				<div class="slider__hot__trading">Hot deal</div>
				<h2 class="slider__hot__h2">Fishnet Chair</h2>
				<p class="slider__hot__p">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black</p>
				<a href="{% url 'main' %}" class="button">Order Us</a>
			</div>
			<div class="slider__pagination">
				<a href="{% url 'main' %}" class="circle wow zoomOutUp" data-wow-delay="0.9s"></a>
				<a href="{% url 'main' %}" class="circle_active wow zoomOutUp" data-wow-delay="0.9s"></a>
				<a href="{% url 'main' %}" class="circle wow zoomOutUp" data-wow-delay="0.9s"></a>
			</div>
		</div>
		</div>
		<div class="block__ex__all">
			<div class="block__ex__ex wow rollOut" data-wow-delay="0.3s" style="background-image: url({% static 'img/product-1-lg.png' %})">
				<div class="block__ex__mini">exclusive</div>
				<h2 class="block__ex__h2__mini">Fishnet Chair</h2>
				<p class="block__ex__p__mini">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt</p>
				<a href="{% url 'main' %}" class="button__ex">Order Us</a>
			</div>
			<div class="mini__catalog__ex">
				<div class="catalog__one">
					<a href="{% url 'main' %}"><img class="tr__pr__pic__ex wow rollOut" data-wow-delay="0.3s" src="{% static 'img/product-2-sm.png' %}" alt="tovar"></a>
					<a href="{% url 'main' %}"><img class="tr__pr__pic__ex wow rollOut" data-wow-delay="0.3s" src="{% static 'img/product-3-sm.png' %}" alt="tovar"></a>
				</div>
				<div class="catalog__two">
					<a href="{% url 'main' %}"><img class="tr__pr__pic__ex wow rollOut" data-wow-delay="0.3s" src="{% static 'img/product-4-sm.png' %}" alt="tovar"></a>
					<a href="{% url 'main' %}"><img class="tr__pr__pic__ex wow rollOut" data-wow-delay="0.3s" src="{% static 'img/product-5-sm.png' %}" alt="tovar"></a>
				</div>
			</div>
		</div>
{% endblock %}
  </body>
</html>